absl-py==2.1.0
aiosql==3.2.0
aiosqlite==0.19.0
alabaster==0.7.16
annotated-types==0.6.0
ansible==9.4.0
ansible-core==2.16.6
anyio==4.3.0
astor==0.8.1
astunparse==1.6.3
attrs==23.2.0
autocommand==2.2.2
Babel==2.14.0
bcrypt==4.1.2
bleach==6.1.0
Brlapi==0.8.5
btrfsutil==6.8
build==1.2.1
CacheControl==0.14.0
cachetools==5.3.2
cachy==0.3.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
colorama==0.4.6
crashtest==0.4.1
cryptography==42.0.5
Cython==3.0.10
distlib==0.3.8
dlib==19.24.2
docopt==0.6.2
docutils==0.20.1
dulwich==0.21.7
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi==0.110.2
fastjsonschema==2.19.1
filelock==3.13.3
flatbuffers==24.3.25
gast==0.5.4
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
greenlet==3.0.0
grpcio==1.62.1
h11==0.14.0
h5py==3.10.0
html5lib==1.1
httpcore==1.0.2
httplib2==0.22.0
httpx==0.26.0
idna==3.6
imagesize==1.4.1
importlib_metadata==5.1.0
inflect==7.2.0
iniconfig==2.0.0
installer==0.7.0
jaraco.classes==3.3.1
jaraco.context==4.3.0
jaraco.functools==4.0.0
jaraco.text==3.12.0
jeepney==0.8.0
Jinja2==3.1.3
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keras==2.15.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==25.0.0
keyutils==0.6
lark==1.1.9
lensfun==0.3.4
libfdt==1.7.0
libvirt-python==10.2.0
linkify-it-py==2.0.3
lit==17.0.6.dev0
lockfile==0.12.2
louis==3.29.0
lxml==5.1.0
Mako==1.3.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
meson==1.4.0
ml_dtypes==0.3.2
more-itertools==10.2.0
msgpack==1.0.7
nftables==0.1
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
opt-einsum==3.3.0
ordered-set==4.1.0
oterm==0.1.16
packaging==23.2
pandas==1.5.3
paramiko==3.4.0
perf==0.1
pexpect==4.9.0
pillow==10.2.0
pkginfo==1.9.6
platformdirs==4.2.0
pluggy==1.4.0
ply==3.11
poetry==1.8.2
poetry-core==1.9.0
poetry-plugin-export==1.5.0
pooch==1.8.1
protobuf==4.25.3
ptyprocess==0.7.0
pwquality==1.4.5
pyasn1==0.5.0
pyasn1_modules==0.3.0
pybind11==2.12.0
PyBluez==0.30
pycairo==1.26.0
pycparser==2.22
pydantic==2.7.0
pydantic_core==2.18.1
pydot==1.4.2
Pygments==2.17.2
PyGObject==3.48.1
PyNaCl==1.4.0
pynvim==0.4.3
pyparsing==3.1.2
pyperclip==1.8.2
pyproject_hooks==1.0.0
pyrsistent==0.19.3
pytest==8.1.1
pytest-asyncio==0.23.6
python-dateutil==2.9.0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
ranger-fm==1.9.3
rapidfuzz==3.6.2
referencing==0.33.0
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
resolvelib==1.0.1
rich==13.7.1
rpds-py==0.17.1
rsa==4.9
scipy==1.13.0
SecretStorage==3.3.3
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
starlette==0.37.2
TBB==0.2
tensorboard==2.15.1
tensorboard-plugin-wit==1.8.1
tensorboard_data_server==0.8.0a0
tensorflow==2.15.0
tensorflow-estimator==2.15.0
termcolor==2.4.0
textual==0.56.4
time-machine==2.14.1
tomli==2.0.1
tomlkit==0.12.4
tqdm==4.66.2
tree-sitter-languages==1.9.1
tree_sitter==0.20.4
trove-classifiers==2024.3.29
typeguard==4.2.1
typer==0.9.0
typing_extensions==4.10.0
uc-micro-py==1.0.3
udiskie==2.5.2
urllib3==1.26.18
validate-pyproject==0.13.post1.dev0+gb752273.d20230520
virtualenv==20.25.0
webencodings==0.5.1
Werkzeug==2.3.8
wrapt==1.16.0
zipp==3.17.0
